# API key not required but valuable to get increased API quota.
# Signup: https://api-portal.tfl.gov.uk/signup
# Once approved, go in and select the "Product"
TFL_API_KEY=
# Line IDs are the name of the line, e.g. 'northern'
# Station IDs are the specific station naptanIDs, like 940GZZLUTCR for TCR station
LINE_ID=northern
# Once you have a line ID as above you can find your station ID here
# https://api-portal.tfl.gov.uk/api-details#api=ReleasedUnifiedAPIProd&operation=Line_StopPoints
# usingthe 'Try It' button at the bottom right
STATION_ID=940GZZLUTCR
